@keyframes letterAnimation {
  0% { transform: translateY(-20px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animated-letter {
  display: inline-block;
  animation: letterAnimation 0.5s ease forwards;
  animation-delay: calc(0.1s * var(--i));
  white-space: pre;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.logo-animate {
  animation: fadeInScale 2s ease-in-out;
}
