@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.roulette-container {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  transition: 2s;
}

.roulette-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.roulette-button:hover {
  background-color: #CCF38C;
}

select {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 20px;
}

.result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
