.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  width: 450px;
  height: auto;
  margin-bottom: 20px;
}

.player-adjust {
  display: flex;
  align-items: center;
  gap: 20px; /* 각 요소간 간격 설정 */
}

